@import '../styles/variables.scss';

.banner {
  background-color: $pink;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 0;

  &_text {
    color: white;
    font-size: 5.5rem;
    font-weight: 300;
  }
}

.donate {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  &_text {
    text-align: center;
    color: $pink;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}