@import '../styles/variables.scss';

.banner {
  background-color: $pink;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 0;

  &_text {
    color: white;
    font-size: 5.5rem;
    font-weight: 300;
    text-align: center;
  }
}

.events {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &_noEvents {
    color: $pink;
    font-size: 1.5rem;
    text-align: center;
  }
}