@import '../styles/variables.scss';

.banner {
  background-color: $pink;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 0;

  &_text {
    text-align: center;
    color: white;
    font-size: 5.5rem;
    font-weight: 300;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;

  &_text {
    text-align: center;
    color: $pink;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 2rem 1.5rem 2rem;
    margin-bottom: 1.5rem;
  }
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $light-pink;
  align-items: center;
  padding: 4rem 4rem;
  gap: 4rem;

  &_type {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 2rem;

    &_name {
      color: white;
      font-weight: 600;
      font-size: 2.5rem;
    }

    &_text {
      color: white;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  &_image {
    width: 30vw;
  }
}

@media (min-width: 768px) {
  .register {
    flex-direction: row;
  }
}

.donate {
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
  align-items: center;
  padding: 4rem 0;

  &_imgDiv {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_img {
    width: 80%;
    background-color: $light-pink;
    padding: 2rem;
  }

  &_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 10vw;

    &_text {
      color: $pink;
      font-size: 3rem;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .donate {
    flex-direction: row;
    gap: 0;
  }
}

.otherChapter {
  padding: 8rem 0;
  background-color: $light-pink;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  &_text {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 600;
  }
}