@import '../styles/variables.scss';

.Navbar {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.logoContainer {
  margin-right: auto;
}

.logo {
  height: 3rem;
  margin-top: .5rem;
}

.pages {
  display: none;
}

.hamburger{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2rem;
  position: relative;
  height: 2rem;

  &_line {
    width: 100%;
    height: .25rem;
    background-color: $pink;
    position: absolute;
    transition: all .3s;
  }

  &_line_1 {
    top: 10%;
  }

  &_active &_line_1 {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &_line_2 {
    top: 50%;
    transform: translateY(-50%);
  }

  &_active &_line_2 {
    width: 0;
  }

  &_line_3 {
    bottom: 10%;
  }

  &_active &_line_3 {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
}

.mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 7.5rem;
  left: 0;
  width: 100vw;
  height: calc(100vh - 7.5rem);
  background-color: white;

  &_pages {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:first-child {
      border-top: 1px solid $pink;
    }

    & > * {
      border-bottom: 1px solid $pink;
    }

    &:last-child {
      border-bottom: none;
    }

    &_hidden {
      display: none;
    }
  }

  &_page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &_link {
    font-size: 1.5rem;
    color: $pink;
    text-decoration: none;

    &:hover {
      color :$dark-pink;
    }
  }

  &_hidden {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
}

@media (min-width: 768px) {
  .pages {
    display: flex;
    align-items: center;
  
    & .page:not(:last-child) {
      border-right: 1px solid $pink;
    }
  }
  
  .page {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  
  .link {
    text-decoration: none;
    color: $pink;
    transition-duration: .3s;
  
    &:hover {
      color: $dark-pink;
    }
  }
  
  .aboutDropdown {
    &_open {
      display: flex;
      flex-direction: column;
      position: absolute;
      transform: translate(-1rem, 0);
      background-color: white;
      padding-top: 1rem;
      border-radius: 3px;
      overflow: hidden;
  
      & .link {
        padding: .5rem 1rem;
        border-top: 1px solid $pink;
        transition-duration: .3s;
  
        &:hover {
          background-color: $white-gray;
        }
      }
    }
  
    &_closed {
      display: none;
    }
  }

  .hamburger {
    display: none;
  }
  
  .mobile {
    display: none;
  }
}